---
// Astro component
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>✊ Resist List</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1><a href="/" class="site-title">✊ Resist List</a></h1>

  <style>
    .site-title {
      text-decoration: none;
      color: inherit; 
    }
    
    .site-title:hover {
      opacity: 0.8; 
    }
  </style>
  <p>
    U.S. campaign finance law does not allow a company to directly donate to a political campaign. In the context of this application, stating that a company donated to the Trump campaign implies that individuals associated with the company donated primarily to Trump and other Republican campaigns without donating much to Democratic campaigns. 
  </p>
  <p>
    Some companies donate to the presidential inauguration regardless of party affiliation. The Biden inauguration column is displayed to provide this context.
  </p>
  
  <h2>Sources</h2>
  <ul>
    <li>
      <a href="https://www.snopes.com/news/2025/03/03/trump-project-2025-companies/">
        Breaking down list alleging companies like McDonald's and Walmart donated to Trump
      </a>
    </li>
    <li>
      <a href="https://www.forbes.com/sites/conormurray/2025/03/22/mlb-removes-references-to-diversity-from-careers-website-here-are-all-the-companies-rolling-back-dei-programs/">
        MLB Removes References To Diversity From Careers Website: Here Are All The Companies Rolling Back DEI Programs
      </a>
    </li>

    <li>
      <a href="https://www.newsweek.com/dei-employees-program-donald-trump-executive-order-workers-2019155">
        Businesses That Changed DEI Policies Prior to Trump's Executive Order
      </a>
    </li>
    <li>
      <a href="https://www.newsweek.com/american-businesses-supporting-donating-donald-trump-list-2027957">
        List of American Companies That Support President Donald Trump
      </a>
    </li>
    <li>
      <a href="https://fivethirtyeight.com/features/inside-the-political-donation-history-of-wealthy-sports-owners/">
        Inside The Political Donation History Of Wealthy Sports Owners 
      </a>
    </li>
    <li>
      <a href="https://www.nytimes.com/2025/01/04/us/politics/trump-inaugural-donations.html">
        Trump Has Reeled in More Than $200 Million Since Election Day
      </a>
    </li>
    <li>
      <a href="https://www.cnbc.com/2025/04/23/trump-inauguration-donors-include-meta-amazon-target-delta-ford.html">
        Corporate America shelled out millions for Trump's inauguration. Now he's upending many of their businesses
      </a>
    </li>
    <li>
      <a href="https://www.usnews.com/news/elections/articles/2024-11-05/the-biggest-political-donors-of-the-2024-election">
        The Biggest Political Donors of the 2024 Election
      </a>
    </li>    
    <li>
      <a href="https://www.wardrobeoxygen.com/boycotting-brands/">
        Let's Talk About Boycotting Brands over Political Donations
      </a>
    </li>
  </ul>

  <h2>Resources</h2>
  <ul>
    <li>
      <a href="https://www.opensecrets.org/">
        Open Secrets
      </a>
    </li>
    <li>
      <a href="https://www.goodsuniteus.com/">
        Goods Unite Us
      </a>
    </li>
  </ul>
  
  <!-- <p><a href="/">Back to Home</a></p> -->
</body>
</html>